<!--USER info Code-->
<div class= 'col-md-12 mt-3'>
  <% if book.errors.any? %>
  <div class= "form-error text-danger h2 mx-5 mt-3">
    <%= book.errors.count %>errors prohibited this obj from being saved:
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li class ="h6 mt-2">
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<div class='col-md-3 mt-3'>
  <h2>User info</h2>
    <table class='table'>
      <tr>
        <div>
          <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
        </div>
      </tr>
      <tr>
        <th>
          <div class="field">
            <label for="name">name</label>
          </div>
        </th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>
          <div class="field">
            <label for="introduction">introduction</label>
          </div>
        </th>
        <th><%= user.introduction %></th>
      </tr>
    </table>
  <%= link_to "", edit_user_path(user.id) ,class: 'row btn btn-outline-secondary btn-block fas fa-user-cog' %>
  <h2 class="mt-3">New book</h2>
  <div>
    <%= form_with model: book, local: true do |f| %>
      <div class="field">
        <label for="book_title">Title</label>
      </div>
      <%= f.text_field :title , class: 'form-control my-2'%>
      <div class="field">
        <label for="book_opinion">Opinion</label>
      </div>
        <%= f.text_area :body , class: 'form-control my-2'%>
      <div class="actions">
        <%= f.submit 'Create Book', class: 'btn bg-success text-light btn-outline-success my-2' %>
      </div>
    <% end %>
  </div>
</div>