<!--BOOK SHOW-->
<div class='container'>
  <div class='row'>

    <%= render 'users/list', user: @book.user, book: @book_new %>

    <div class='col-md-8 offset-md-1'>
      <h2>Book detail</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
                  <div class = "books-index-item">
                    <%= link_to @book.user.name, user_path %>
                  </div>
              </td>
              <td>
                  <div class = "books-index-item">
                    <%= link_to @book.title , user_path %>
                  </div>
              </td>
              <td>
                  <div class = "books-index-item">
                    <%= @book.body %>
                  </div>
              </td>
              <td>
                <% if @book.user == current_user %>
                <%=link_to("Edit", edit_book_path(@book.id), class: 'btn bg-success text-light btn-outline-success' ) %>
              </td>
              <td>
                <%=link_to("Destroy", book_path(@book) , method: :delete , data: {confirm: '本当に消しますか?' } , class: 'btn bg-danger text-light btn-outline-danger' )%>
                <% end %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>